resources:
  limits:
    cpus: 2.0
    memory: 4096

aiostreams:
  base_url: http://localhost:8080
  secret_key: 8f3a9c1d4b7e2f6a9d0c5b3e1a7f8c2d6e4b9a0f3c8d1e7b5a2f9c6d0e1b4a7c
  additional_envs: []

run_as:
  user: 568
  group: 568

network:
  host_network: false
  web_port:
    bind_mode: published
    port_number: 8080

ix_volumes:
  data: /opt/tests/mnt/data

storage:
  data:
    type: ix_volume
    ix_volume_config:
      dataset_name: data
      create_host_path: true
  additional_storage: []
